POSTGRES_HOST=this_db_type
JWT_SECRET=this_secret
POSTGRES_PORT=this_is_number
POSTGRES_USER=this_is_username
POSTGRES_PASSWORD=this_is_password
POSTGRES_DB=this_is_nameDB
PORT=this_is_number
BAD_REQUEST=400

PGDATA=/this/is/path/on/db